<div class="card">
  <div class="card-body">
    <h4 class="card-title">Historias</h4>
    <h6 class="card-subtitle mb-2 text-muted">Desarrollado con:</h6>
    <span class="badge rounded-pill bg-success">Express</span>
    <span class="badge rounded-pill bg-success">MongoDB</span>
    <p class="card-text">Registra tus historias y hazlas inolvidables</p>
    <a href="#" class="card-link"></a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>